body {
  font-size: 16px;
}

.App {
  text-align: center;
  align-content: center;
}

button {
  font-size: 40px;
}

.chunk {
  font-size: 25px;
}

.hint-guess {
  letter-spacing: 3px;
  font-family: monospace;
  font-size: 20px;
  padding: 16px;
}

.guess-container {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  gap: 8px;
}

.guess-container input {
  font-size: 20px;
  text-align: center;
}

.score-container {
  padding-left: 16px;
  padding-right: 16px;
}
